<% if @errors.present? %>
  <div class="alert alert-danger error">
    <ul style="margin-bottom: 0">
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>